.top-bar--big {
  padding-top: 5px;
  padding-right: 5px;
  height: 400px;
  background-color: $outer_space;
  width: 100%;
};

.navbar {
  background-color: $snow;
  color: $isabelline;
  border: 0px;
};

.navbar-brand {
  color: $snow;
};
